html,
body,
div {
  display: block;
}

head {
  display: none;
}

body {
  background-color: #f0f0f0;
  padding-left: 24px;
  padding-top: 24px;
}

.orange {
  width: 152px;
  height: 20px;
  background-color: #ef6548;
  border: 4px solid #983721;
}

.blue {
  width: 210px;
  height: 26px;
  margin-top: 10px;
  margin-left: 32px;
  background-color: #2878d0;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-color: #9dcfff #153e6c #153e6c #9dcfff;
}

.green {
  width: 234px;
  height: 44px;
  margin-top: 10px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  background-color: #269c72;
  border: 3px solid #14583f;
}

.yellow {
  width: 92px;
  height: 12px;
  background-color: #f5cb54;
  color: #836000;
  border: 2px solid currentcolor;
}

.purple {
  width: 140px;
  height: 12px;
  margin-top: 8px;
  margin-left: 72px;
  background-color: #8056bd;
  border: 2px solid rgb(255 255 255 / 50%);
}

.red {
  width: 112px;
  height: 8px;
  margin-top: 10px;
  background-color: #ce4055;
  border-left: 6px solid #7b2432;
}
